<!DOCTYPE html>

<html>

<head>
    <neta charset="utf-8">
        <title>Some Website</title>
</head>
<body>
    <h1>We will be right back</h1>
    </h1>
    <p>This site is updating</p>
</body>

</html>